@model TeamStatsViewModel
@{
    ViewData["Title"] = "Western Conference";
    var index = 1;
}

<div class="container-fluid">
    <div class="row header">
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Headshot</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Name</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Number</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Position</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">R/L Handed</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Height (in.)</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Weight (lbs.)</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Birthdate</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Age</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Birth City</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Birth State/Prov</div>
        <div class="col-1" style="font-family:Oswald-Medium" align="center">Birth Country</div>
    </div>
    @foreach (Player player in Model.forwardsList)
    {
        <div class="row @(index%2==0?"rowdark":"rowlight")">
            <div class="col-1" align="center"><img src="@player.headshot" width="84px" height="84px" /></div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.firstName @player.lastName</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.sweaterNumber</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.position</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.shootsCatches</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.heightInInches</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.weightInPounds</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.birthDate</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.age</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.birthCity</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.birthStateProvince</div>
            <div class="col-1" style="font-family:Oswald-Regular" align="center">@player.birthCountry</div>
        </div>
        index++;
    }
</div>
